/*** Styles ***/

/*** Fonts ***/
@font-face {
  font-family: Naruto;
  src: url("../fonts/naruto-font.ttf");
}

/*** General Styles ***/
* {
  box-sizing: border-box;
  font-family: Naruto, sans-serif;
} 

body {
  margin: 0;
  font-size: 16px;
}

/*** Variables ***/
:root {
  --color-1: #F2A30B;
  --color-2: #0B0B0B;
  --color-3: #FFFFFF;
}

/*** Header ***/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
  background-color: var(--color-1);
}

.header h1 {
  font-size: 2.5rem;
}


/*** Footer ***/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
  font-size: 1rem;
  background-color: var(--color-1);
}